<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Blog Tamer</title>
</head>

<body>
    <nav>
        <div class="site-title">
            <a href="/">
                <h1>Blog Tamer</h1>
            </a>
            <p>My Blog</p>
        </div>
        <ul>
            <li><a href="/">Blogs</a></li>
            <li><a href="/about">About</a></li>
            <li><a href="/blogs/create">NewBlog</a></li>
        </ul>
    </nav>


    <div class="about content">
        <h2>About Us</h2>
        <p> Lorem ipsum dolor sit amet consectetur adipisicing elit. Officiis incidunt totam hic quaerat, repellat
            suscipit est earum corrupti nostrum. Explicabo minus praesentium neque, ullam unde recusandae beatae dicta
            non mollitia.</p>
        <p> Lorem ipsum dolor sit amet consectetur adipisicing elit. Officiis incidunt totam hic quaerat, repellat
            suscipit est earum corrupti nostrum. Explicabo minus praesentium neque, ullam unde recusandae beatae dicta
            non mollitia.</p>
        <p> Lorem ipsum dolor sit amet consectetur adipisicing elit. Officiis incidunt totam hic quaerat, repellat
            suscipit est earum corrupti nostrum. Explicabo minus praesentium neque, ullam unde recusandae beatae dicta
            non mollitia.</p>
    </div>

</body>

</html>